 /* @author Devi Lal Vermma
 * Date:25,june 2013
 * purpose:This file is used to apply css rule on forgot password popup
 * */


#forgotpopup {
    background: none repeat scroll 0 0 white;
    min-height: 250px;
     min-width: 450px;
}
#forgot_password_msg{
	margin-left:105px;
    margin-bottom:10px;
    color:red;
}
#forgot_password_id {
	 cursor: pointer;
}

#forgotpopup, #forgotpopup2, .bMulti {
   
    border-radius: 10px 10px 10px 10px;
   // color: #ffffff;
    display: inline;
    min-width: 450px;
    padding: 25px;
}




div#forgotpopup
{
	left: 390px;
	position: absolute;
	top: 410px;
	z-index: 9999; 
	opacity: 0; 
	display: inline;
}
div#forgotpopup label.error {
    color: #FF5B5B !important;
    display: inline-block;
    margin: 2px 0 !important;
    margin-left: 109px !important;
    width: auto !important;
}