@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../../fonts/proxima_nova_reg.eot');
    src: url('../../fonts/proxima_nova_reg.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proxima_nova_reg.woff') format('woff'),
         url('../../fonts/proxima_nova_reg.ttf') format('truetype'),
         url('../../fonts/proxima_nova_reg.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{margin:0; padding:0; width:100%;  font-family:'proxima_nova_rgregular';}
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
#login{z-index: 22;}
.logo{
	background: url("") no-repeat scroll center 0 transparent;
    display: block;
  	height: 60px;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    -ms-animation-delay: .1s;
    animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -ms-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 12px;
	padding: 7px 5px 7px 8px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing : content-box;
	box-sizing : content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#wrapper p.button input{	
	background: url('../../images/admin/login.jpg') no-repeat;
	height:18px;
	width:70px;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;   
    text-indent: -2000px;
	box-shadow:none;	
}
#register,#login{
	position: relative;
	width: 98%;	
	padding: 0px 6% 0px 6%;
	margin: 0 0 35px 0;
	background: #fff;
	border: 2px solid #5F8A22;
	box-shadow:0 1px 18px 0 rgba(168, 168, 168, 0.6) inset;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#wrapper p{margin-left:85px;}