@charset "utf-8";
/* CSS Document */



/**** Reset Start *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
h1, h2, h3, h4, h5, h6, p {
	line-height:normal;
	font-weight:normal;
}
a, a:link {
	outline:none;
	text-decoration:none;
}
a:active, a:focus {
	outline:none;
}
img {
	border:none;
}
ul, li {
	list-style:none;
	margin:0;
	padding:0;
}
.clr {
	clear:both;
}
input, button {
	outline:none;
}
:focus {
	outline:none;
}
/***** Reset End *****/
#wrapper {
	width:1000px;
	margin:0 auto;
	padding:20px 0
}
.signup-nav {
	float:right;
}
.signup-nav ul {
}
.signup-nav ul li {
	display:inline-block;
	float:left;
	padding:0 0px 0 10px;
	margin-left:70px;
}
.signup-nav ul li a {
	color:#555;
	padding: 5px 10px;
	font-size:16px;
}
.signup-nav ul li a:hover {
	background: none repeat scroll 0 0 #555555;
	color: #FFFFFF;
}
.tab-container {
	border-bottom:1px solid #000;
}
.tab-container ul {
}
.tab-container ul li {
	display:inline-block;
	float:left;
	padding:0 3px 0 0;
}
.tab-container ul li a {
	border:1px solid #444;
	border-bottom:none;
	color:#444;
	padding:7px 10px;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	float:left;
}
.tab-container ul li a:hover, .tab-container ul li a.current {
	background:#555;
	color:#fff;
}
.register-container {
	margin:30px 0;
	border:1px solid #c8c8c8;
	background:#fbfbfb;
}
.register-container h2 {
	background:url(../images/title-bg.jpg) repeat-x;
	height:41px;
	color:#fff;
	line-height:40px;
	padding:0 17px;
	font-size:18px;
}
.register-container h3 {
	background:#dddcdc;
	padding:10px 17px;
	font-size:16px;
	color:#393939;
	font-weight:bold;
}
.form-container {
}
.form-container a{
	text-decoration:underline;
	color:#435c76;
}
.form-container a:hover{
	text-decoration:none;
}
.upper-form {
	float:left;
	width:510px;
	padding:15px 50px 0px 50px;
}
.form-container .upper-form fieldset input4 {
	width:375px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.upper-form fieldset {
	padding:10px 0;
}
.upper-form fieldset .label-txt {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
}
.upper-form fieldset .label-txt em {
	color:#cb4343;
}
.upper-form-left-form {
	float:left;
	width:380px;
	padding:0px 0px 10px 50px;
}
.upper-form-right-form {
	float:right;
	width:429px;
	padding:0px 0px 10px 50px;
}
.upper-form-right {
	float:right;
	width:305px;
	padding:30px 50px 0px 0px;
}
.form-container .upper-form fieldset input[type="text"] {
	width:365px;
	padding:0 5px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-size:15px;
}
.upper-form-right fieldset {
	padding:10px 0;
}
.upper-form-right fieldset .label-txt {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
}
.upper-form-right fieldset .label-txt em {
	color:#cb4343;
}
.upper-form-right fieldset .label-txt {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
}
.upper-form-left-form fieldset p{font-size:15px;
	float:left;
	margin:8px 0px 10px 0px !important;}
.upper-form-right fieldset .label-txt em {
	color:#cb4343;
}
.upper-form-right-left-form {
	float:left;
	width:380px;
	padding:20px 0px 10px 50px;
}
.upper-form-right-right-form {
	float:right;
	width:515px;
	padding:20px 0px 10px 50px;
}
.form-container p {
	font-size:15px;
	float:left;
	margin:15px 0px 20px 0px;
}
.form-container fieldset p {
	/*font-size:15px;*/
	font-size:13px;
	float:left;
	margin:0px 0px 10px 180px;
}
.form-container fieldset p.error {
	font-size:15px;
	float:left;
	margin:5px 0px 10px 135px;
	color: red;
}
.promo-code {
	/*margin-top:54px*/
}
.promo-code-new {
	margin-left:50px
}
.checkbox{
	margin-left:40px;
	padding:0 0 0 130px;}
.form-container p span {
	margin-right:30px;
}
.form-container-text {
	width:691px;
	margin:0 auto;
	padding:0 0 20px 0; overflow:hidden;
	
	color:#393939;
}
.form-container-text p{
	font-size:15px !important;
	float:left ;
	margin:15px 0px 0 0px !important;
	}
.form-container-radiobtn p {
	margin-left:10px;
}
.form-container form {
	margin-left:130px;
	margin-bottom:30px;
}
#signinForm{
margin-left:0;
}
.form-container h4 {
	float:left;
	margin:7px 8px 0 0px;
}
.form-container select {
	/*margin:0px 0px 30px 10px;*/
	margin:0px 0px 0px 10px;
}
input, button {
	background:#FFF;
	border:1px solid #048519;
}
.credit-upper-form {
	float:left;
	width:580px;
	padding:20px 0px 0px 0px;
}
.form-container .credit-upper-form fieldset input[type="text"] {
	width:375px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-size:15px;
}
.credit-upper-form fieldset {
	padding:10px 0;
}
.credit-upper-form fieldset .label-txt-crd {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:170px;
	text-align:right;
}
.credit-upper-form fieldset .label-txt-crd em {
	color:#cb4343;
}
.credit-upper-form-right {
	float:right;
	width:288px;
	padding:30px 50px 0px 0px;
}
.credit-upper-form-left-form {
	float:left;
	width:380px;
	padding:0px 0px 10px 95px;
}
.credit-upper-form-submit{text-align:center;
margin-bottom:30px;}
.submit-btn1{margin:0px 0px 30px 80px;
float:left;}
.submit-btn1 span{float:left;
margin: 13px 10px 0px 0px;}
.submit-btn2{margin:0px 80px 30px 0px;
float:right;}
.submit-btn2 span{
	float:left;
	margin: 13px 10px 0px 0px;}
.submit-btn1 input[type="button"]{
	background:url(../images/submitbg.gif) repeat-x;
	border-radius:5px;
	color:#FFFFFF;
	font-weight:bold;
	padding:10px 35px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-size:16px;}
	.submit-btn2 input[type="button"]{
	background:url(../images/submitbg.gif) repeat-x;
	border-radius:5px;
	color:#FFFFFF;
	font-weight:bold;
	padding:10px 35px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-size:16px;}
	
.credit-upper-form-submit input[type="button"]{
	background:url(../images/submitbg.gif) repeat-x;
	border-radius:5px;
	color:#FFFFFF;
	font-weight:bold;
	padding:10px 35px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-size:16px;}
.left-form {
	float:left;
	width:380px;
	padding:20px 50px 20px 52px;
}
.small {}
.small-input{
	width:95px !important;
	padding:0 5px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.form-container fieldset .label-txt-title-small {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:205px;
	text-align:right;
}
.large {}
.large-input{
	width:720px !important;
	padding:0 5px;
	height:100px !important;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-size:15px;
}
.login-container-lower-form{
	margin-left:50px;}
.form-container fieldset .label-txt-title-large {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:127px;
	text-align:right;
}
.form-container fieldset {
	padding:15px 0;
}
.form-container fieldset .label-txt {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
}
.form-container fieldset .label-txt em {
	color:#cb4343;
	font-size:16px;
	line-height:0px;
}
.form-container fieldset .label-txt-title {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:127px;
	text-align:right;
}
.form-container fieldset .label-txt-title em {
	color:#cb4343;
}
.form-container fieldset .label-txt-rt-title {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:202px;
	text-align:right;
}
.form-container fieldset .label-txt-rt-title em {
	color:#cb4343;
}
.form-container fieldset input[type="text"] {
	width:207px;
	height:34px;
	padding:0 5px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-size:15px;
}
.form-container fieldset input[type="password"] {
	width:207px;
	height:34px;
	padding:0 5px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.form-container fieldset select{
	width:207px;
	height:34px;
	padding:5px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}

.right-form {
	float:right;
	width:355px;
	padding:20px 70px 20px 0px;
}
.address-container {
}
.address-container h3 {
	background:#dddcdc;
	padding:10px 17px;
	font-size:16px;
	color:#393939;
	font-weight:bold;
}
.login-container {
}
.login-container h3 {
	background:#dddcdc;
	padding:10px;
	font-size:16px;
	color:#393939;
	font-weight:bold;
}
.login-container-left-form {
	float:left;
	width:405px;
	padding:20px 0px 10px 50px;
}
.login-container-left-form fieldset p{
	/*font-size:15px;*/
	font-size:13px;
	float:left;
	margin:8px 0px 10px 0px;}
/*---signup conformation page starts----*/
.signup-outerbox{
	width:715px;
	overflow:hidden;
	text-align:center;
	margin:0 auto;}
.signup-box{margin:58px 0;
	border:1px solid #c8c8c8;
	border-radius:8px;
	background:#fbfbfb;
	padding:25px 50px;}
	.signup-box h2{
		color:#000000;
		margin-bottom:10px;
		font-size:24px;}
		.signup-box h3{
			color:#737373;
			margin-bottom:40px;
			font-size:18px;
			}
									
.signup-box-btn{
	margin-bottom:30px;
		}
.signup-box-btn input[type="button"]{background:url(../images/signupbtnbg.gif) repeat-x;
	color:#FFFFFF;
	border-radius:5px;
	margin-left:15px;
	
	padding:10px 35px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-size:16px;
	width:170px;}
				
			
/*---signup conformation page ends----*/
/*---signin page starts----*/
.signin-outerbox{
	width:695px;
	overflow:hidden;
	text-align:center;
	margin:0 auto;}
.signin-box{margin:58px 0;
	border:1px solid #c8c8c8;
	border-radius:8px;
	background:#fbfbfb;
	
	}
	.signin-box h2 {
	background:url(../images/title-bg.jpg) repeat-x;
	height:41px;
	color:#fff;
	line-height:40px;
	padding:0 17px;
	font-size:18px;
	border-radius:8px 8px 0 0;
}
.signin-box-text{
	padding:20px 70px;
	overflow:hidden;}

.signin-box-text-form {
	float:left;
	margin:30px 0px 5px 0px;
	
	
}
.form-container .signin-box-text fieldset input4 {
	width:375px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.signin-box-text fieldset {
	padding:10px 0;
}
.signin-box-text fieldset .label-txt {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
	margin:0 -108px 0 0;
}
.resetpassword-label-txt{
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
	margin:0 0 0 0;
}
.signin-box-text fieldset .label-txt em {
	color:#cb4343;
}
.signin-box-text .form-container  fieldset input[type="text"] {
	width:300px;
	padding:0 5px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-size:15px;
}
.signin-box-text .form-container  p{font-size:15px;
	float:left;
	margin:0px 0px 10px 128px;}
	.signin-box-text .form-container a{
		float:right;
		margin-left:65px;
		color:#435c76;
		}
		.signin-box-btn{
				float: left;
    margin-bottom: 30px;
		margin-left: 118px;
   
				}
				.signin-box-btn input[type="button"]{background:url(../images/signupbtnbg.gif) repeat-x;
				color:#FFFFFF;
				border-radius:5px;
				margin-left:15px;
	
	padding:10px 35px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-size:16px;
	width:145px;}

/*---signin page ends----*/
/*---newreservation page ends----*/
.new-container{margin:30px 0;
	border:1px solid #c8c8c8;
	background:#fbfbfb;
}
.new-container h2 {
	background:url(../images/title-bg.jpg) repeat-x;
	height:41px;
	color:#fff;
	line-height:40px;
	padding:0 17px;
	font-size:18px;
}
.new-box-text{
	padding:20px 50px;
	overflow:hidden;}
.new-box-text-form {
	float:left;
	margin:30px 0px 20px 0px;
	
	
}
.new-left-form {
	float:left;
	width:380px;
	margin:20px 0px 0px 0;
	
}
.new-right-form {
	float:right;
	width:347px;
	margin:20px 0px 0px 0px;
}
.form-container .new-box-text fieldset input4 {
	width:375px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.new-box-text fieldset {
	padding:10px 0;
}
.new-box-text fieldset .label-txt {
	color:#010101;
	float:left;
	padding:10px 10px 0 0;
	width:120px;
	text-align:right;
}
.new-box-text fieldset .label-txt em {
	color:#cb4343;
}
.new-box-text .form-container  fieldset input[type="text"] {
	width:300px;
	padding:0 5px;
	height:34px;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.new-box-text .form-container  p{font-size:15px;
	float:left;
	margin:0px 0px 10px 127px;}
	.new-box-text .form-container a{
		float:right;
		margin-left:65px;
		color:#435c76;
		}
		.new-box-text .form-container h4 {
	float:left;
	margin:7px 8px 0 0px;
}
.new-box-text .form-container select {
	margin:0px 0px 30px 10px;;
}
/*--newreservation page ends----*/
.login-container-right-form {
	float:right;
	width:513px;
	padding:20px 0px 10px 0px;
}
#footer {
	margin:20px 0 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:20px 10px;
	font-size:12px;
}
.follow-us {
	float:left;
	width:230px;
}
.follow-us h3, .look-driver h3, .col-placeholder h3, .sitemap h3 {
	border-top:1px dotted #666;
	border-bottom:1px dotted #666;
	padding:5px 0;
	font-size:16px;
	font-weight:bold;
	color:#333;
}
.news-letter {
	margin:20px 0 0;
	text-align:center;
}
.news-letter input[type="text"] {
	border:1px solid #888;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:5px;
}
input.subscribe-btn {
	background:#444;
	color:#fff;
	padding:3px 15px;
	border:1px solid #aaa;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	margin:10px 0 0;
	cursor:pointer;
}
.look-driver {
	float:left;
	width:240px;
	margin:0 10px;
}
.look-driver p {
	padding:10px 0;
}
.look-driver p a {
	color:#555;
	text-decoration:underline;
}
.look-driver p a:hover {
	text-decoration:none;
}
.col-placeholder {
	float:left;
	width:240px;
}
.sitemap {
	float:left;
	width:230px;
	margin:0 0 0 10px;
}
.sitemap ul {
	padding:10px 0;
}
.sitemap ul li {
	line-height:18px;
}
.sitemap ul li a {
	color:#555;
	text-decoration:underline;
}
.sitemap ul li a:hover {
	text-decoration:none;
}
.copyright {
	font-size:11px;
	border-top:1px solid #000;
	padding:10px 0 0
}
.copyright span {
	float:left;
}
.copyright a {
	float:right;
	color:#000;
	text-decoration:underline;
}
.copyright a:hover {
	text-decoration:none;
}
.select-small {
	width:56px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #cdcdcd;
	padding:5px
}
.select-large {
	width:76px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #cdcdcd;
	padding:5px
}
/* new classes*/

#login_er{
color:red;
margin-left: 70px;
}
#login_success{
color:red;
margin-left: 70px;
}
.signin-box-btn input[type="submit"]{background:url(../images/signupbtnbg.gif) repeat-x;
	color:#FFFFFF;
	border-radius:5px;
	margin-left:15px;
	padding:10px 35px;
	text-align:center;
	cursor:pointer;
	border:none;
	font-size:16px;
	width:145px;}
.credit-upper-form-submit input[type="submit"] {
    background: url("../images/submitbg.gif") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    text-align: center;

}
.signin-box-text .form-container fieldset input[type="password"] {
    border: 1px solid #CDCDCD;
    border-radius: 6px 6px 6px 6px;
    height: 34px;
    padding: 0 5px;
    width: 300px;
}

.validation p{
margin:5px 0 0px 0px !important;

}
/* internal tabs */

#tabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li{
  float: left;
  margin: 0 .5em 0 0;
}

#tabs a{
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #fff;
}

#tabs a:focus{
  outline: 0;
}

#tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;  
}

#tabs #current a,
#tabs #current a::after{
  background: #fff;
  z-index: 3;
}

#content
{
    background: #fff;
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2;	
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

/***** Table Styles *****/
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.table {
    margin-bottom: 20px;
    width: 100%;
}
.table th, .table td {
	border-left: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table-striped th:last-child{
	border-right:1px solid #DDDDDD;

}
.table-striped td:last-child{
	border-right:1px solid #DDDDDD;
}
.table td {border-bottom: 1px solid #DDDDDD;

}
.table th {
    font-weight: bold;
border-top: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
}
.table thead th {
    vertical-align: bottom;
}

.table tbody + tbody {
    border-top: 2px solid #DDDDDD;
}
.table .table {
    background-color: #FFFFFF;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #DDDDDD;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
    border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child {
    border-bottom-right-radius: 4px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}
.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #F5F5F5;
}
table td[class*="span"], table th[class*="span"], .row-fluid table td[class*="span"], .row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}
.table td.span1, .table th.span1 {
    float: none;
    margin-left: 0;
    width: 44px;
}
.table td.span2, .table th.span2 {
    float: none;
    margin-left: 0;
    width: 124px;
}
.table td.span3, .table th.span3 {
    float: none;
    margin-left: 0;
    width: 204px;
}
.table td.span4, .table th.span4 {
    float: none;
    margin-left: 0;
    width: 284px;
}
.table td.span5, .table th.span5 {
    float: none;
    margin-left: 0;
    width: 364px;
}
.table td.span6, .table th.span6 {
    float: none;
    margin-left: 0;
    width: 444px;
}
.table td.span7, .table th.span7 {
    float: none;
    margin-left: 0;
    width: 524px;
}
.table td.span8, .table th.span8 {
    float: none;
    margin-left: 0;
    width: 604px;
}
.table td.span9, .table th.span9 {
    float: none;
    margin-left: 0;
    width: 684px;
}
.table td.span10, .table th.span10 {
    float: none;
    margin-left: 0;
    width: 764px;
}
.table td.span11, .table th.span11 {
    float: none;
    margin-left: 0;
    width: 844px;
}
.table td.span12, .table th.span12 {
    float: none;
    margin-left: 0;
    width: 924px;
}
.table tbody tr.success > td {
    background-color: #DFF0D8;
}
.table tbody tr.error > td {
    background-color: #F2DEDE;
}
.table tbody tr.warning > td {
    background-color: #FCF8E3;
}
.table tbody tr.info > td {
    background-color: #D9EDF7;
}
.table-hover tbody tr.success:hover > td {
    background-color: #D0E9C6;
}
.table-hover tbody tr.error:hover > td {
    background-color: #EBCCCC;
}
.table-hover tbody tr.warning:hover > td {
    background-color: #FAF2CC;
}
.table-hover tbody tr.info:hover > td {
    background-color: #C4E3F3;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}

/* Added on 23 Oct 2013*/

.input-container{ float:left; width:220px;}

.cancel-button {
    background: url("../images/submitbg.gif") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    text-align: center;
}
.large-input-textarea{
	width:365px !important;
	padding:0 5px;
	height:100px !important;
	border:1px solid #cdcdcd;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-size:15px;
}
label.my-error-class {
	    color:#FF0000;  /* red */
	}
	
#step2_terms_span p {
	padding-left: 185px;
}
	