/* tables */
table.tablesorter {
   background-color: #CDCDCD;
    font-family: arial;
    font-size: 8pt;
    margin: 10px auto;
    text-align: left;
    width: 98%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
	padding-left:12px;
	font-size:11pt; 
	font-weight:normal;
	color:#000;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #434242;
	padding: 4px;
	padding-left:12px;
	background-color: #FFF;
	vertical-align: top;
	font-size:14px; 
	
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
