/* 
    Document   : admin
    Created on : Feb 4, 2012, 3:24:24 PM
    Author     : LiveMesh
    Description:
        Purpose of the stylesheet follows.
*/


.input-social {
    display: block;
}

#slide_box input, #showcase_slide_box input, #portfolio_box input {
    display: block;
    margin-bottom: 15px !important;
    padding: 5px;
    width: 320px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC #EEE #EEE #CCC;
}

#portfolio_info {
    max-width: 98%;
}

#page-ot_theme_options.wrap.settings-wrap .ui-tabs-nav li a {

    padding: 10px 5px 10px 36px;

}

#page-ot_theme_options #option-tree-sub-header {
    padding: 15px 5px;
    background: #fafafa url(skins/default/logo.png) no-repeat 10px center;
}

#tab_general_default a {
    background: url(../framework/option-tree/customize/images/gear.png) no-repeat 10px center transparent;
}

#tab_mo_logo_options a {
    background: url(../framework/option-tree/customize/images/logo.png) no-repeat 10px center transparent;
}

#tab_mo_fonts_tab a {
    background: url(../framework/option-tree/customize/images/font.png) no-repeat 10px center transparent;
}

#tab_mo_color_tab a {
    background: url(../framework/option-tree/customize/images/color.png) no-repeat 10px center transparent;
}

#tab_mo_backgrounds_tab a {
    background: url(../framework/option-tree/customize/images/background.png) no-repeat 10px center transparent;
}

#tab_mo_sidebar_tab a {
    background: url(../framework/option-tree/customize/images/sidebar.png) no-repeat 10px center transparent;
}

#tab_mo_primary_menu_tab a {
    background: url(../framework/option-tree/customize/images/menu.png) no-repeat 10px center transparent;
}

#tab_video_options a {
    background: url(../framework/option-tree/customize/images/video.png) no-repeat 10px center transparent;
}

#tab_mo_nivo_slider a {
    background: url(../framework/option-tree/customize/images/slides.png) no-repeat 10px center transparent;
}

#tab_mo_flex_slider a {
    background: url(../framework/option-tree/customize/images/slides-stack.png) no-repeat 10px center transparent;
}

#tab_mo_portfolio_page {
    background: url(../framework/option-tree/customize/images/portfolio.png) no-repeat 10px center transparent;
}

#tab_layout_management a {
    background: url(../framework/option-tree/customize/images/layout.png) no-repeat 10px center transparent;
}

#tab_mo_header {
    background: url(../framework/option-tree/customize/images/header.png) no-repeat 10px center transparent;
}

#tab_mo_footer a {
    background: url(../framework/option-tree/customize/images/footer.png) no-repeat 10px center transparent;
}

#tab_mo_custom_css_tab a {
    background: url(../framework/option-tree/customize/images/custom-css.png) no-repeat 10px center transparent;
}

#tab_mo_miscellaneous_options a {
    background: url(../framework/option-tree/customize/images/gear-plus.png) no-repeat 10px center transparent;
}