/* 
    Document   : ie8
    Created on : Mar 22, 2012, 6:34:20 PM
    Author     : Livemesh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Fix for IE 8 bug which makes images disappear when max-width is set on an image
contained within a floated container and when image has width specified in html */

img {
    max-width: none; /* Fix needed to avoid image getting shrunk to zero width */
    }

ul.post-list .thumbnail {
    max-width: none;
    }

.entry-content .image-frame img {
    max-width: none;
    }

.services-with-images .image-frame img {
    max-width: 100%;
    }

.client-info .image-frame img {
    max-width: 100%;
    }

.divider-fancy {
    float: left; /* Fix for IE8 margin-top bug with floated divs */
    }

.info, .note, .tip, .errors, .warning, .attention, .success {
    position: relative;
    }

#primary-menu li a {
    min-width: 1px;
    }

#primary-menu > ul > li:hover:before, #primary-menu > ul >li.sfHover:before {
    display: none; } /* Do not show thin line below main menu item */

#primary-menu ul li:hover ul {
    border-top: 6px solid #fff; /* Change this border color if the background of header changes. Transparent border not supported in IE8 */ }

.nivo-caption {
    filter: alpha(opacity=6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    }

#retina-text {
    background: #fff200;
    /* background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFF200,endColorstr=#B2FFF200)";*/ /* IE8 */
    }
.threecol.dual-margin, .fourcol.dual-margin, .sixcol.dual-margin {
    padding-right: 1.4% !important;
    padding-left: 1.4% !important;
    margin: 0;
    }