
#error_title{
    width: 100%;
    text-align: center;
	margin-top:40px;
  }
.error_img_text
{
background-image: url('smiley_face.jpg') !important;
background-repeat: no-repeat !important;
padding-left: 30px !important; /* width of the image plus a little extra padding */
display: block !important; /* may not need this, but I've found I do */
font-size:60px !important;
	
}
.error_img_text {
    font-size: 60px;
    font-weight: bold;
	vertical-align:middle;
	
}

#error_title > h3 {
    font-size: 25px;
}

#error_title  input {
    font-size: 20px;
    height: 40px;
    width: 300px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	color:green;
}
.error_left_div{
	float:left;
    padding-top: 60px !important;
	font-size:20px;
	width:500px;
}

#left-text > p {
    font-size: 30px;
	font-weight: bold;.
}
.error_right_div{
	float:right;
    padding-top: 60px !important;
	font-size:25px;
	width:500px;
}
#right-text > div {
	 font-size: 30px;
	font-weight: bold;.
}

#right-text  span {
    font-size: 15px;
    font-weight: bold;
}

#right-text p {
    font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}