@CHARSET "ISO-8859-1";
.datetime {
   border: 1px solid #CDCDCD;
    border-radius: 6px 6px 6px 6px;
    height: 34px;
    padding: 0 5px;
    width: 207px;
	}
span.error {
   color: red;
   font-size: 12px;
}
#span_before_error .error{
	margin-left:135px;
}
.credit-upper-form-submit input[type="submit"] {
   # background: url("../images/submitbg.gif") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    text-align: center;
}
.form-container fieldset .approx_hour_lable {
	color: #010101;
    float: left;
    padding: 10px 10px 0 0;
    text-align: right;
    width: 124px;
}

.approx_hour_lable > em {
   color: #CB4343;
}