<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><h3>ORES</h3></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;"><br></p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">Hi {name}, </p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Your account has been successfully created.</p>
			<p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thank you for signing up with driver please.</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Enjoy the services of Driver Please.</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Having any query please mail us on: <a href='mailto:admin@ores.com'>admin@ores.com</a> </p>
         	<p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;"><a href='mailto:admin@beyourpersonaldriver.com'>admin@beyourpersonaldriver.com</a></p>
          	<p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thank you<br>Admin Ores<br></p>
          </TD>
            <br>
        </TR>
      </TABLE>
</table>