<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><H3>ORES</H3></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;"><br></p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">Hi {name}, </p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">You have been assigned for the Trip </p>
          <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">You need to be available on the following given timings:- &nbsp; {from} and from city : {city}.</p>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Please confirm your availability through Email to us</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Having any query please mail us on: <a href='mailto:admin@ores.com'>admin@ores.com</a> and we will take action.</p>
			<p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thanks<br>Admin Ores<br></p>
          </TD>
            <br>
        </TR>
      </TABLE>
</table>