<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><img src="logo.png" alt="logo" border="0"></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;"><br></p></td>
           <TD> <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">Hi {name}, </p></TD>
            <TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thank you for reservation with ores.</p>
			<TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">you will get confirmaion email soon.</p></TD>
            <TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Enjoy the services of PERSONAL CARE TRANSPORT Please.</p></TD>
            <TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Having any query please mail us on: <a href='mailto:admin@beyourpersonaldriver.com'>mailto:admin@beyourpersonaldriver.com</a> </p></TD>
         	 <TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">and we will take action.</p></TD>
          	<TD><p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thank you<br>Admin Ores<br></p>
          </TD>
            <br>
        </TR>
      </TABLE>
</table>