<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><H3>ORES</H3></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;"><br></p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">Hi {name}, </p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">A Driver has been assigned to you for the Trip </p>
          <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">and will be available on following given Timings  :-&nbsp; {from}  and  from city : {city}.</p>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Have a happy Journey !</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Having any query please mail us on: <a href='mailto:admin@ores.com'>admin@ores.com</a> </p>
              <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">and we will take action.</p>
			<p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thank you<br>Admin Ores<br></p>
          </TD>
            <br>
        </TR>
      </TABLE>
</table>