<table align="center" width="600" style="border: #666666 1px solid;" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#efefef" style="border-bottom: #666666 1px solid;" ><br>
      <TABLE border="0" align="center">
        <TR>
          <TD><img src="http://www.doctor.dev/images/frontend/logo.png" alt="logo" border="0"></TD>
        </TR>
      </TABLE>
      <br>
    </td>
  </tr>
  <tr>
    <td><TABLE width="510" border="0" cellpadding="0" cellspacing="0" align="center">
        <TR>
          <TD>
		  <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;"><br></p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 15px;color: #666666;">Hi {name}, </p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Your Account has been reset by admin.</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Your login credential are:- &nbsp; &nbsp; <b>usernmae</b> :{username} and <b>Password</b> : {password}.</p>
            <p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Having any query please mail us on: <a href='mailto:admin@ores.com'>admin@ores.com</a> and we will take action.</p>
         
          	<p style="font-family: arial,  helvetica, sans-serif;font-size: 12px;color: #666666;">Thanks<br>Admin Ores<br></p>
          </TD>
            <br>
        </TR>
      </TABLE>
</table>