#reserve_driver_h3{
	background: none;
	color: #393939;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 17px;
	margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 715px;
}
.reserve_driver_font{
	color: #393939;
    font-size: 16px;
    font-weight: bold;
}
.reserve_driver_span{
	color: #393939;
    font-size: 24px;
    font-weight: bold;
	margin-left: 0;
float: left;
}
.edit_profile{
	width: 500px;
}
.reserve_driver_form{
	 margin-left: -100px; 
}

.airport_transport_form {
    float: left;
    padding: 20px 0 10px 50px;
    width: 405px;
	 margin-left: -100px;
}
.reserve_driver_form {
	width:500px;
}
.reserve_driver_form p{
	margin-bottom:0;
 clear: both;

}
#reserve_driver_submit{
	margin-top:30px;
}
.reserve_driver_span{
	width:100%;
}
}