@charset "utf-8";
/* CSS Document */

html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;background:transparent;border:none;text-decoration:none;font-family:'proxima_nova_rgregular';}
b,i,hr,u,center,menu,layer,s,strike,font,xmp
{
	margin:0;
	padding:0;
	vertical-align:baseline;
	outline:none;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	background:transparent;
	border:none;
	text-decoration:none
}


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../../fonts/proxima_nova_reg.eot');
    src: url('../../fonts/proxima_nova_reg.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proxima_nova_reg.woff') format('woff'),
         url('../../fonts/proxima_nova_reg.ttf') format('truetype'),
         url('../../fonts/proxima_nova_reg.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KlintLTProRegular';
    src: url('../../fonts/klintltpro-medium.eot');
    src: url('../../fonts/klintltpro-medium.eot') format('embedded-opentype'),
         url('../../fonts/klintltpro-medium.woff') format('woff'),
         url('../../fonts/klintltpro-medium.ttf') format('truetype'),
         url('../../fonts/klintltpro-medium.svg#KlintLTProRegular') format('svg');
}


@font-face {
    font-family: 'KlintLTProRegular';
    src: url('fonts/klintltpro-bold.eot');
    src: url('fonts/klintltpro-bold.eot') format('embedded-opentype'),
         url('fonts/klintltpro-bold.woff') format('woff'),
         url('fonts/klintltpro-bold.ttf') format('truetype'),
         url('fonts/klintltpro-bold.svg#KlintLTProRegular') format('svg');
}


@font-face {
    font-family: 'KlintLTProRegular';
    src: url('../../fonts/klintltpro-medium.eot');
    src: url('../../fonts/klintltpro-medium.eot') format('embedded-opentype'),
         url('../../fonts/klintltpro-medium.woff') format('woff'),
         url('../../fonts/klintltpro-medium.ttf') format('truetype'),
         url('../../fonts/klintltpro-medium.svg#KlintLTProRegular') format('svg');
}
body{
		/* background:#ececec url(../../images/admin/top.jpg) 0 0 repeat-x; */
		font-family:'proxima_nova_rgregular' !important;
		font-size:85%;
		color:#454545;
		background:none repeat scroll 0 0 #ECECEC;
	}
p{
	font-size:13px;
	font-family:'proxima_nova_rgregular';
	color:#434242;
	line-height:19px;
	margin-bottom:14px;
	font-weight:lighter;
}

#header{
		height:90px;
		width:100%;
	}
.headerMain{
		width:980px;
		margin:auto;
		min-width:980px;
		height:109px;
	}
#logo{
		float:left;
		position:relative;
		padding-top:12px;
	}
.clearLeft{
		clear:both;
		font-size:1px;
		overflow:hidden;
		content:' ';
		visibility:hidden;
	}
.fleft{
		float:left;
	}
.fright{
		float:right;
	}
.loginTop{ 
	float: right;
    margin-right: 21px;
    padding-top: 70px;
	color:#000;
}
.topHeader{width:980px;}
.loginTop ul {list-style-type:none}

.loginTop ul li{float:left; margin-left:8px; font-family:'proxima_nova_rgregular';}	
.loginTop ul li a{color:#5F8A22}


.menu_head{  padding-right:10px; font-weight:bold}  
.menu_body {width:184px; position:absolute; border:1px solid #797c7d; margin-top:6px; z-index:9; display:none}  
.loginTop .menu_body li{border-bottom:1px solid #797c7d; background:#fff; display:block; float:none; line-height:normal; margin:0}  
.menu_body li a{color:#FFFFFF; text-decoration:none; padding: 3px 10px; display:block;} 
.menu_body li a:hover{background:#c6cbcd}


.twoColLiqLtHdr #container { 
	
	margin: 0 auto; 
	text-align: left;
	
} 
.twoColLiqLtHdr #header { 
	
	padding: 0 0px; 
} 
.twoColLiqLtHdr #header h1 {
	margin: 0;
	padding: 10px 0; 
}

.twoColLiqLtHdr #sidebar1 {
	float: left; 
	width: 223px; 
	background: #ececec; 
	padding: 0px 0;
	margin-left:15px; 
	
}

.twoColLiqLtHdr #sidebar1 a{
  color: #666666;
    font-size: 14px;
}
.twoColLiqLtHdr #sidebar1 a:hover, .twoColLiqLtHdr #sidebar1 a:focus{
	color:#5F8A22;
}

.twoColLiqLtHdr #sidebar1 h3, .twoColLiqLtHdr #sidebar1 p {
	margin-left: 10px; 
	margin-right: 10px;
	font-family:'proxima_nova_rgregular';
	
	
}
.twoColLiqLtHdr .wrapper{
	background: #ececec; 
}
.twoColLiqLtHdr #mainContent { 
	margin: 0 0px 0 0%; 
	padding-left:0px;
	background:#fff;
	position:relative;
	padding-bottom:30px;
} 
.twoColLiqLtHdr #footer { 
	padding: 0 10px; 
	background:#DDDDDD;
} 
.twoColLiqLtHdr #footer p {
	margin: 0; 
	padding: 10px 0; 
}

/* Miscellaneous classes for reuse */
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.logo{float:left; padding:15px 15px 0px 50px;}
/* .logo h1  { background:url(../../images/admin/logo.png) }  */
.menu{ position:relative;  clear:left; padding-top:12px; padding-left:28%}
.menu ul li {list-style-type:none; display:inline-block; margin-top:2px}
.menu ul li a{ line-height:44px ; display:inline-block; color:#000; font-weight:bold; text-shadow:0px 1px 0px #fff; }
.menu ul li a span{padding:0px 6px; margin-left:10px; padding-right:14px; cursor:pointer}
.menu ul li a:hover, .menu ul li a.current{background:url(../images/admin/menuhover.jpg) left top no-repeat;}
.menu ul li a:hover span, .menu ul li a.current span{background:url(../images/admin/menuhover.jpg) right top no-repeat; height:40px; display:inline-block; }



.glossymenu{
margin: 5px 0;
padding: 0;
width: 190px; /*width of menu*/
border-bottom-width: 0;
}

.glossymenu a.menuitem{
/*background: black url(glossyback.gif) repeat-x bottom left;*/
font: normal 16px "Myriad Pro", Verdana, Helvetica, sans-serif;
color:#000000;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 4px 0;
padding-left: 20px;
text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color:#000000;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 8px;
left: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
background-image: url(glossyback2.gif);
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
/*background: white;*/
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
padding-left: 15px;
font-family:Arial, Helvetica, sans-serif;
}

.glossymenu div.submenu ul li{
/*border-bottom: 1px solid blue;*/
margin-bottom:5px;
font-size:11px;
}

.glossymenu div.submenu ul li a{
display: block;
font-size:13px;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;

}

.glossymenu div.submenu ul li a:hover{
color:#000000;
}




.glossymenu1{
margin: 0px 0;
padding: 0;
width: ; /*width of menu*/
border-bottom-width: 0;
padding-left:100px;
}

.glossymenu1 a.menuitem{
/*background: black url(glossyback.gif) repeat-x bottom left;*/
font: normal 12px /*"Myriad Pro", Verdana, Helvetica, sans-serif*/;
color:#2b747d;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 0px 0;
padding-left: 20px;
text-decoration: none;
}


.glossymenu1 a.menuitem:visited, .glossymenu1 .menuitem:active{
color:#000000;
}

.glossymenu1 a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 3px;
left: 5px;
border: none;
}

.glossymenu1 a.menuitem:hover{
background-image: url(glossyback2.gif);
}

.glossymenu1 div.submenu1{ /*DIV that contains each sub menu*/
/*background: white;*/
}

.glossymenu1 div.submenu1 ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
padding-left: 15px;
font-family:Arial, Helvetica, sans-serif;
}

.glossymenu1 div.submenu1 ul li{
/*border-bottom: 1px solid blue;*/
margin-bottom:5px;
font-size:11px;
}

.glossymenu1 div.submenu1 ul li a{
display: block;
font: normal 13px Arial, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;

}

.glossymenu1 div.submenu1 ul li a:hover{
color:#000000;
}






.contentTable{border-right:0px solid #797c7d; width:96%; border-bottom:1px solid #797c7d; margin:25px 0px 0px 0; position:relative}
#mainTableContent .contentTable td{border:1px solid #797c7d; border-right:1px solid #797c7d; border-left:0; border-bottom:0; text-align:center; vertical-align:top; padding:6px 6px}
.contentTable td.first{border:0; padding:0; }
.contentTable td.first img{position:absolute; left:0; top:0; margin-top:-35px}

.sliderbox{padding:15px 0px; margin-bottom:40px; float:right}

.contentTable .glossymenu1{padding-left:0; text-align:left; /*font-family:"Myriad Pro"*/}
.contentTable .glossymenu1 a.menuitem {display:inline-block; font-size:12px; color:#2b747d}
.text16{font-size:15px; font-weight:bold}
.sliderbox p{font-size:14px;}




/*==================================== 23-02-2012===============================*/

#mainTableContent{vertical-align:top; width:100%; padding-top:15px; float:left;}
#mainTableContent td{vertical-align:top}

.contentbox{
	border:1px solid #CCCCCC;
	
	background:#fff;
	margin-bottom:12px;
	min-height: 124px;
}
.grayStrip{
	background:#4D4D4D;
	height:30px;
	line-height:30px;
	text-indent:12px;
	color:#fff;
	margin-bottom:12px;
	
	
	
	
}

.container{
	padding:0px 15px;
}

.grayStripRight{
	

    background: none repeat scroll 0 0 #4D4D4D;
    color: #FFFFFF;
    
    font-size: 17px;
    height: 35px;
    line-height: 35px;
    text-indent: 12px;

}

.checkbox, .radio {
	  width: 14px;
	  height: 14px;
	  padding: 0 5px 0 0;
	  background: url(../images/admin/check.png) no-repeat;
	  display: block;
	  clear: left;
	  float: left;
}
	.radio {
	  background: url(../images/admin/radio.png) no-repeat;
}
	.select {
	  position: absolute;
	  width: 176px;
	  height: 29px;
	  padding: 4px 24px 0 8px;
	  color: #000;
	  font-size: 14px;
	  background: url(../images/admin/select.gif) no-repeat;
	  overflow: hidden;
}

#select2 {
	  position: absolute;
	  width: 153px;
	  height: 22px;
	  padding: 4px 24px 0 8px;
	  color: #000;
	  font-size: 11px;
	  overflow: hidden;
}
#select2 .select {
	  position: absolute;
	  width: 153px;
	  height: 22px;
	  padding: 4px 24px 0 8px;
	  color: #000;
	  font-size: 14px;
	   background: url(../images/admin/select1.gif) no-repeat;
	  overflow: hidden;
	 }
#select3 {
	  position: absolute;
	  width: 182px;
	  height: 22px;
	  padding: 4px 24px 0 8px;
	  color: #000;
	  font-size: 11px;
	  overflow: hidden;
	  right:1px;
}
#select3 .select {
	  position: absolute;
	  width: 173px;
	  height: 22px;
	  padding: 4px 24px 0 8px;
	  color: #000;
	  font-size: 12px;
	   background: url(../images/admin/select2.gif) no-repeat;
	  overflow: hidden;
	 }
#select3 select.styled{width:205px; height:22px}
#select2 select.styled{width:176px; height:22px}
select.styled{height:29px;}

.spacer10{padding:10px;}
.subContentBox{
	background:url(../../images/admin/dotted.gif) 0 bottom repeat-x;
	padding:12px 12px 12px 16px;
}
.subContentBox label{
	display:block;
	color:#000;
	font-size:11px;
	margin-bottom:8px;
	padding-left:2px;
}

.subHeading{
	color:#000;
	font-size:14px;
	margin-bottom:5px;
}
.twoColLiqLtHdr #sidebar1 p.link{margin-left:22px; margin-bottom:4px; font-size:11px}
.twoColLiqLtHdr #sidebar1 p.text11{font-size:11px;  margin-bottom:4px; padding-left:0; margin-left:2px}
.link a{color:#2b747d;}

.aside{
	width:253px
}

.rightContentPanel{
	padding:15px 25px;
	position:relative;
}
.txtbox{
	border:1px solid #b6b9b9;
	padding:5px 2px;
	display:inline-block;
	float:left;
	font-weight:bold;
	width:95px;
}
.sliderbox img{display:inline-block; float:left; margin:0px 3px;}
.sliderbox strong{float:left; margin:0px 6px}
.paddTop{padding-top:15px;}

.graphSelectPanel{
	position:relative;
	width:100%;
	height:32px; 
}

.smallbox{
	background:#ededed;
	border:1px solid #ada9a9;
	padding:6px 12px;
	display:inline-block;
	margin-right:10px;
	width:78%
}
.smallbox p{margin-bottom:3px}
.smallbox h2{color:#2b747d; font-size:16px;}

#mainTableContent .contentTable tr:hover td{background:#ebc5c5}
#mainTableContent .contentTable td.firstTd{
	border-left:1px solid #797c7d;
}
#mainTableContent .contentTable td, #mainTableContent .contentTable th {font-size:12px;}
#mainTableContent .contentTable th {font-size:12px; text-align:center; vertical-align:bottom; font-weight:normal; padding-bottom:5px;}
#mainTableContent .contentTable .arrowup{background:url(../images/admin/arrow-top.png) 100% 98% no-repeat; display:inline-block; padding-right:10px}


.pagination{ width:96%; text-align:right;  padding-top:10px; line-height:25px;}
.pagination a{display:inline-block; float:left}
.pagination span{float:left; margin-right:10px;}
.validation {color: #5F8A22;text-align: center;}
.validation p { color:red;padding: 0;text-align: left;}
.txtbox1 {
    margin-bottom:15px;
}
.txtbox1 label {
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 30px;
    margin-right: 20px;
    text-align: right;
    width: 25%;
	
	color:#666666;
}
.txtbox1 span{ color:#666666;  fon-size:12px;}
/* .shadow {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B9999;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 5px #D7D7D7 inset;
    color: #4C4C4C;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    padding: 6px;
    width: 252px;
} */
 .shadow {
background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B9999;
   /*  border-radius: 5px 5px 5px 5px; */
    box-shadow: 0 0 5px #D7D7D7 inset;
    color: #4C4C4C;
    font-size: 12px;
    height: 16px;
    line-height: 18px;
    padding: 4px;
    width: 252px;
}	
 .shadow1 {
background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B9999;
   /*  border-radius: 5px 5px 5px 5px; */
    box-shadow: 0 0 5px #D7D7D7 inset;
    color: #4C4C4C;
    font-size: 12px;
   /* height: 16px;*/
    line-height: 18px;
    padding: 4px;
    width: 252px;
}	
.dropdown {
 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B9999;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 5px #D7D7D7 inset;
    color: #4C4C4C;
    font-size: 14px;
    height: 37px;
    line-height: 22px;
    padding: 6px;
    width: 267px;
}
.txtarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B9999;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 5px #D7D7D7 inset;
    color: #4C4C4C;
    font-size: 14px;
    height: 132px;
    line-height: 22px;
    padding: 6px;
    width: 252px;
}
.submit_btn {
    background: url("../../images/admin/create.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 94px;
}
.submit_btn_update {
    background: url("../../images/admin/update.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 94px;
}
.submit_send {
    background: url("../../images/admin/send-btn.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 27px;
    text-indent: -2000px;
    width: 53px;
}
.submit_upload {
    background: url("../../images/admin/upload.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 94px;
}
.submit_c_ebook{
    background: url("../../images/admin/add.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 149px;
}
.submit_c_employee{
    background: url("../../images/admin/create-client.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 149px;
}
.add_credit{
    background: url("../../images/admin/add-credit.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 112px;
}
.submit_u_ebook{
    background: url("../../images/admin/update-ebook.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 110px;
}
.submit_c_ques{
    background: url("../../images/admin/create-ques.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 158px;
}
.submit_c_update_blog{
    background: url("../../images/admin/update-blog.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 158px;
}
.submit_c_update_expert{
    background: url("../../images/admin/update-exp.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 158px;
}
.submit_c_expert{
    background: url("../../images/admin/assign-exp.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 158px;
}
.submit_c_blog_cat{
    background: url("../../images/admin/create-blog-cat.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 169px;
}
.submit_c_blog{
    background: url("../../images/admin/create-blog.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 38px;
    text-indent: -2000px;
    width: 158px;
}
h2{
	font-size:16px;
	padding:12px;
}
h2 a{
	color:#666;
}
h2 a:hover{
  color:#F9C134;	
}

.contentbox a{
	color: #666666;
    font-size: 16px;


	
}
.contentbox a:hover{
	
	color:#5F8A22;
}




/* aAutocomplete CSS */

/*!
 * jQuery UI Autocomplete 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.21
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.Zebra_DatePicker_Icon Zebra_DatePicker_Icon_Inside{top:0 !important;}

/*!
 * jQuery UI CSS Framework 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ /*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ /*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -khtml-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }

textarea.txtarea {height: 250px; width: 500px;}

#cate_current{ width:23px;}
#cate_previous{ width:23px;}
#cate_coming{ width:23px;}
#featured{width:23px;}
#enable{width:23px;}
#disable{width:23px;}
.txtbox1 select{height: 27px !important;width: 262px !important;}
.txtbox1 span{font-size: 13px;}
.txtbox1 p small{color: #666666;}



div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 8px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px; font-size:9px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px; } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

.tagsinput{height: 100%;min-height: 100px;width: 489px !important;}